<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>笔记</title>
</head>
<body>
VUE：
表单：
1、input表单的输入框的双向绑定
>>
>>为form表单绑定数据对象   ：model="loginForm"
>>为表单对象字段进行双向数据绑定    v-model="loginForm.username"
>>密码框type="password"

2、Form表单的数据验证功能
>>为form表单绑定rules :rules="loginFormRules"
>>定义rules,并制定相应的校验属性（username，password）
>>为需要验证的el-form-item指定验证规则   <el-form-item label="密码" prop="password">
>>status-icon属性为输入框添加了表示校验结果的反馈图标
<el-form status-icon ref="addFormRef" :model="addForm" label-width="80px" :rules="addFormRules">

3、自定义表单的验证规则
  ①为规则添加validator字段值为校验规则方法
  ②在data中return之前定义校验规则方法
  var checkEmail =(rule, value, cb)=>{
    var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
    if(reg.test(value)){
      return cb;
    }else{
      cb(new Error("请输入合法邮箱"))
    }

  }
  email: [{ validator:checkEmail,trigger: 'blur' }],

3、Form表单的重置功能
>>为Form表单添加ref属性值，这个值就是from表单的实例对象
>>methods中调用Form实例对象的resetFields()方法

4、Form表单的预验证功能
>>methods中调用Form实例对象的validate()方法返回值是true或者false
>>箭头函数，省去function以及()
  this.$refs.addFormRef.validate(valid=>{
    if(!valid){
      return this.$message.error("验证失败")
    }
  })

5、Django后端接口vue前端调用不到
>>错误信息：Method Not Allowed (OPTIONS): /login/ 跨域问题，
  方法：①从Django后端解决方法
  https://segmentfault.com/a/1190000017952184?utm_source=tag-newest



6、Django后端的post方法，调用报错
>>错误信息："You called this URL via POST, but the URL doesn't end in a slash and you have APPEND_SL
  方法：请求地址没有以 '/' 结尾

>>错误信息：“Forbidden (CSRF cookie not set.)”
  修改settings.py文件，注释掉
  django.middleware.csrf.CsrfViewMiddleware',

7、axios无法post传递参数给Django后端
>>方法：通过qs将序列化字符串，处理发送请求的参数
  在main.js添加全局引用
    import qs from 'qs';
    Vue.prototype.qs = qs;

  在单页面中使用：this.qs.stringify(this.loginForm)

8、element-UI Message全局弹框组件
  main.js中导入，并全局定义
  import {Message} from 'element-ui'
  Vue.prototype.$message = Message

9、登录成功保存token，页面跳转
  token就是后端传给前端的一个值，前端将其保存到当前会话中。window.sessionStorage.setItem("token","")
  sessionStorage和localStorage的区别：当前会话
  页面跳转：this.$router.push("/home")

10、路由导航守卫控制页面访问权限
  route.js中添加
  router.beforeEach(to,from,next=>{})

11、登录退出
  销毁sessionStorage中的token,并重定向到登录页
  window.sessionStorage.clear()

12、git上创建仓库上传本地代码
https://blog.csdn.net/u011644473/article/details/52088105
第一次安装git需要设置用户以及邮箱地址：xiaowukong <2363497179@qq.com>

13、使用element-ui中的Container 布局容器来对首页进行布局

14、flex布局
  display:flex
  justify-content：横轴
  align-items：纵轴

15、使用element-ui的侧栏导航菜单
    一级菜单：<el-submenu></el-submenu>
    二级菜单：<el-menu-item></el-menu-item>
    菜单模板：<template></template>定义图标和菜单名

16、通过axios请求拦截器添加token验证，保证拥有获取数据的权限
    axios.interceptors.request.use(config =>{
      config.headers.Authorization = window.sessionStorage.getItem("token")
      // 必须return config
      return config
    })

17、通过接口获取左侧菜单的数据
    created()和mounted()的区别
    created:在模板渲染成html前调用，即通常初始化某些属性值，然后再渲染成视图。
    mounted:在模板渲染成html后调用，通常是初始化页面完成后，再对html的dom节点进行一些需要的操作。
    ①vue对象data中定义menuList
    ②将获取到的data赋值给menuList

18、async await的用法
    async：声明一个异步函数(async function someName(){...})，自动将常规函数转换成Promise，返回值也是一个Promise对象
    await：暂停异步的功能执行，await强制其他代码等待，直到Promise完成并返回结果，只能在async函数内部使用

19、双层for循环渲染左侧菜单
    ①为菜单元素添加v-for循环
    ②为菜单index绑定唯一属性值id
    <el-submenu :index="item.id+''" v-for="item in menuList" :key="item.id">

20、element-ui的相关参数
      active-text-color、unique-opened

21、菜单水平折叠展开
    collapse
    根据collapse动态改变菜单栏的宽度
    :width="isCollapse ? '64px':'200px'"  三元运算符（判断条件在前面）
    折叠动画取消：collapse-transition

22、子路由相当于在父页面中嵌套一个iframe,实现页面的局部刷新
    父组件中添加路由占位符<router-view></router-view>
    子路由不带“/”，则自动会在父路由后面追加子路由
    如果需要重定向，子路由要加“/”

23、菜单栏激活路由模式
    el-menu中添加router参数，点击导航时，会以index作为path进行路由跳转

24、打开菜单不高亮显示的问题解决思路
    为每个二级菜单添加click事件，事件功能：每次点击将菜单的index保存到sessionStorage中
    然后给el-menu的属性default-active绑定activePath值，这样可以动态改变default-active，而且即使刷新页面也不会有问题
    注意：vue在created时就要给activePath赋值，点击时修改完activePath也要赋值

25、面包屑导航
    <el-breadcrumb>
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    </el-breadcrumb>

26、卡片容器:将信息聚合在卡片容器中展示
    <el-card class="box-card"></el-card>

27、24分栏布局
    <el-row :gutter="20">
      <el-col :span="6"></el-col>
    </el-row>
    row参数：gutter（栅格间隔）、type(可选flex布局)、justify(flex布局下的水平排列方式)、align(flex布局下的垂直排列方式)
    col参数：span（栅格占据的列数）

28、el-table组件
      data属性绑定数据源：<el-table border :data="userList" stripe style="width: 100%">
      column使用prop绑定字段：<el-table-column prop="role_name" label="角色">
      type为index(索引)，expand(可展开按钮)：<el-table-column type="index" label="#">

29、 插槽slot：占位置方便以后扩展
    具名插槽：为slot标签指定name属性，替换内容标签中要指定slot="插槽name"
    作用域插槽：v-slot,父组件想要替换插槽标签，但又想使用插槽中的数据

      子组件：
      <slot name="todo" :user="user">{{ user.lastName }}</slot>
      父组件：
      新版写法：v-slot合并了slot一级slot-scope属性
      <template v-slot:todo="slotProps" >{{slotProps.user.firstName}}</template>

30、el-table中使用作用域插槽，scope.row可以获取到本行数据

31、使用el-pagination组件对数据进行分页，调整页面页码以及显示条数，重新拼装参数进行请求
    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                   :current-page.sync="queryParams.pagenum" :page-sizes="[3, 5, 10, 15]"
                   :page-size="queryParams.pagesize" layout="total,sizes, prev, pager,jumper" :total="total">

32、为el-switch添加change事件，更新用户状态

33、es6中字符串拼接
    this.$http.get(`update_user_state?id=${userinfo.id}&state=${userinfo.mg_state}`)


34、dialog对话框
    显示与隐藏：visiable属性
    关闭对话框的监听函数：closed

35、input的清空功能
  clearable属性
  清空监听事件：clear事件
  <el-input clearable placeholder="请输入搜索内容" v-model="queryParams.query" @clear="getUserList">

36、删除操作前的确认：MessageBox弹框
    this.$confirm("此操作将永久删除该用户, 是否继续?",'提示',{
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning'
    })
    .then(()=>{})
    .catch(()=>{})


========================================================================================
Django：
1、Paginator分页组件的使用
  paginator = Paginator(user_list, pagesize)  创建分页对象
  paginator.page(pagenum)  对分页数据进行取值

  注意：不能json格式化的问题的解决方法：
      先将queryset对象（user_list）转化为list，再将page对象转化为list,这样就可以json.dumps()
      查询时使用queryset的all()和values()指定想要查询得到字段
</body>
</html>
